/*  ====================================
    Imports
    ==================================== */


/*  Helpers
	------------------------------------ */

@import 'helpers/global-classes';
@import 'helpers/bourbon/bourbon';
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/grid';

/*  Foundation
	------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
@import 'foundation/reset';
@import 'foundation/base';
@import 'foundation/typography';

/*  Components
	------------------------------------ */

@import 'elements/buttons';
@import 'elements/lists';
@import 'elements/media';
@import 'elements/blocks';
@import 'elements/forms';

/*  Regions
	------------------------------------ */         

@import 'regions/header';
@import 'regions/navigation';
@import 'regions/footer';


// Shame
@import 'shame';

body,html {
	background: black;
	color: white;
	@include bp-small {
		background: red;
	}
	@include bp-medium {
		background: blue;
	}
	@include bp-large {
		background: purple;
	}
	@include bp-huge {
		background: grey;
	}
}